@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:DarkCyan">Всем привет</h1>
    <p style="color:white; background-color:darkcyan"> Это моя первая лабораторная работа :)</p>
    <p><a href="https://github.com/Masha-bat" style="color:DarkCyan">Ссылка на мой гит хаб</a> Но там пока не очень интересно</p>
    <p>Я сильно напутала с ним, поэтому там нет комитов, в следующий раз будет лучше, обещаю!</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core" style="color:DarkCyan">building Web apps with ASP.NET Core</a>.</p>
</div>
